// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-panel {
	width: 50%;
	margin: 0 auto;
	@media (max-width: 600px) {
		width: 85%;
	}
}